---
import type { Metadata } from "@/types/metadata";

import { getSinglePost, WordpressPost } from "@lib/wordpress";
import transformGutenberg from "@lib/wordpress/transformGutenberg";

import { decode } from "html-entities";
import { blogPostUrl } from "@lib/urls";

import FooterOrnament from "@components/FooterOrnament";
import SiteLayout from "@/components/SiteLayout.astro";
import PostHeader from "@/components/Blog/PostHeader.astro";

const slug = Astro.params.slug;
if(!slug) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found'
  });
}

const post = await getSinglePost(slug);

const {
  title,
  content: _content,
  excerpt: subtitle,
  date,
} = post as WordpressPost;

const htmlContent = await transformGutenberg(_content);

const metadata: Metadata = {
  title: decode(title),
  description: decode(subtitle),
  openGraph: {
    title: decode(title),
    description: decode(subtitle),
    authors: ["David Demaree"],
    type: "article",
    publishedTime: date,
    images: [
      {
        url: `/opengraph-image/post/${slug}.png`,
      },
    ],
  },
  twitter: {
    card: "summary_large_image",
    images: [
      {
        url: `/opengraph-image/post/${slug}.png`,
      },
    ],
  },
  alternates: {
    canonical: blogPostUrl(slug, true),
  },
}

---
<SiteLayout metadata={metadata}>
  <div class="stack">
    <PostHeader title={title} subtitle={subtitle} date={date} />
    <main set:html={htmlContent} class="prose" />
    <FooterOrnament />
  </div>
</SiteLayout>