---
import type { Metadata } from "@/types/metadata";

import { getEntryBySlug } from "astro:content";
import { decode } from "html-entities";

import { blogPostUrl } from "@/lib/urls";
import SiteLayout from "@/components/SiteLayout.astro";
import PostHeader from "@/components/Blog/PostHeader.astro";
import FooterOrnament from "@/components/FooterOrnament";

const { slug } = Astro.params;

const post = await getEntryBySlug("blog", slug as any);

if(!slug || !post) {
  Astro.response.status = 404;
  throw new Error("Not found");
}

const { title, excerpt, date } = post.data;
const { Content } = await post.render();

const metadata: Metadata = {
  title: decode(title),
  description: decode(excerpt),
  openGraph: {
    title: decode(title),
    description: decode(excerpt),
    authors: ["David Demaree"],
    type: "article",
    publishedTime: date.toISOString(),
    images: [
      {
        url: `/opengraph-image/post/${slug}.png`,
      },
    ],
  },
  twitter: {
    card: "summary_large_image",
    images: [
      {
        url: `/opengraph-image/post/${slug}.png`,
      },
    ],
  },
  alternates: {
    canonical: blogPostUrl(slug, true),
  },
}

---
<SiteLayout metadata={metadata}>
  <article class="stack">
    <PostHeader title={title} date={date} subtitle={excerpt} />
    <main class="prose">
      <Content />
    </main>
    <FooterOrnament />
  </article>
</SiteLayout>