---
import BaseHead from '@components/BaseHead.astro';
import SiteHeader from '@components/SiteHeader.astro';
import BlogPost from '@components/BlogPost.astro';
import Footer from '@components/Footer.astro';
import PostPagination from '@components/PostPagination.astro';

import { getCloudinaryThumbnailUrl } from '@lib/cloudinary';
import { getSinglePost, sortPostsByDate } from '@lib/posts';

export async function getStaticPaths() {
  let allPosts = sortPostsByDate(await Astro.glob("../../posts/*.md"));

  return allPosts.map(postObj => {
    const { slug, post, prevPost, nextPost } = getSinglePost(allPosts, postObj.file)

    return {
      params: { slug },
      props: { post, prevPost, nextPost }
    }
  })
}

const { post, prevPost, nextPost } = Astro.props;

const { Content, frontmatter: { title, description, date, image } } = post;

let socialImages = [];
if(image && image.cloudinary) socialImages.push(getCloudinaryThumbnailUrl(image.cloudinary))
---
<html lang="en">
	<head>
    <BaseHead {title} {description} {socialImages} />
	</head>
  
	<body>
    <SiteHeader />
		<div class="wrapper">
      <BlogPost {title} {date}>
        <Content />
			</BlogPost>

      <PostPagination nextPost={nextPost} prevPost={prevPost} />

			<Footer />
		</div>
	</body>
</html>
