---
import { Image } from "@astrojs/image/components";
import imgDavidStitch from "../../content/images/dd-stitch-transparent.png";

import Icon from '@components/Icon.astro';
import { faTwitter, faLinkedin, faMastodon, faGithub } from '@fortawesome/free-brands-svg-icons';
import { faPaperPlane, faNewspaper } from '@fortawesome/free-solid-svg-icons';
---

<section class="@container/intro intro w-full max-w-4xl">
  <div
    class="intro-grid"
  >
    <div class="intro-image">
      <Image
        src={imgDavidStitch}
        alt="Man wearing Stitch cap"
        width="320"
        format="png"
      />
    </div>

    
    <div class="intro-lede-graf @container/lede">
      <p>
        <b class=" intro-double-fancy text-black/80 [font-weight:725]"><span class="greeting">Hello<span class="punc">!</span> My name is</span> <span class="name">David Demaree</span><span class="punc">.</span></b> I'm a web coder, writer, and photographer based in suburban NYC<span class="punc">.</span>
      </p>
    </div>
    <h2 class="intro-hed">Intro</h2>
    <p>
      This is my website where I write about tech, business, digital
      culture, and whatever else. I love good coffee, mechanical keyboards,
      Legos, my family, and my dog, not necessarily in that order.
    </p>
    <h2 class="intro-hed">Links</h2>
    <ul class=" [font-size:1.5rem] desc-links:bg-yellow-400 desc-links:px-3 desc-links:py-1 desc-links:rounded-lg desc-links:inline-flex desc-links:gap-x-2 desc-links:font-semibold desc-links:[font-variation-settings:'wdth'_130] pt-2 -mt-2 flex flex-wrap justify-items-start gap-y-3 gap-x-4">
      <li><a href="mailto:david@demaree.me"><Icon icon={faPaperPlane} /><span class="label">Email</span></a></li>
      <li><a href="/posts"><Icon icon={faNewspaper} /><span class="label">Blog</span></a></li>
      <li><a href="https://linkedin.com/in/ddemaree"><Icon icon={faLinkedin} />LinkedIn</a></li>
      <li><a href="https://twitter.com/ddemaree"><Icon icon={faTwitter} /><span class="label">Twitter</span></a></li>
      <li><a href="https://mastodon.social/@demaree"><Icon icon={faMastodon} />Mastodon</a></li>
      <li><a href="https://github.com/ddemaree"><Icon icon={faGithub} />GitHub</a></li>
    </ul>
  </div>
</section>

<!-- <script>

const lede = document.querySelector('.intro-lede-graf');
const elemName = lede.querySelector('.intro-double-fancy .name');

const phantomName = elemName.cloneNode(true) as Element;
phantomName.classList.add('phantom');
lede.appendChild(phantomName);

</script> -->

<style>

.intro-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  column-gap: 6cqi;
}

.intro-grid > * {
  width: 100%;
}

.intro-image {
  width: clamp(200px, 67cqi, 270px);
  margin-bottom: 4cqi;
  margin-top: -4cqi;
}

.intro .intro-hed {
  @apply text-slate-400;
  font-weight: 720;
  font-size: 1.5rem;
  margin-top: 3rem;
  font-variation-settings: 'wdth' 140;
}

.intro p {
  font-size: 1.5rem;
  line-height: 1.25;
}

.intro .intro-lede-graf {
  @apply font-serif;
  font-style: italic;
  width: 100%;
  max-width: 36rem;
}

.intro .intro-lede-graf p {
  line-height: 1.125;
  font-size: clamp(1.625rem, 5.5cqi, 2rem);
}

.intro .punc {
  display: none !important;
}

.intro .intro-double-fancy {
  @apply font-sans not-italic;
  display: block;
}

.intro .intro-double-fancy > * {
  display: block;
  line-height: 1;
}

.intro .name {
  @apply bg-red-500 text-white rounded-lg;
  font-size: max(2.5rem, 12.5cqi);
  /* white-space: nowrap; */
  font-weight: 700;
  font-variation-settings: 'wdth' 110;
  margin-block: 0.2em;
  /* border-block: 0.05em;
  border-color: currentColor;
  border-style: solid; */
  padding-block: 0.2em 0.15em;
  padding-inline: 0.2em;
  margin-inline: -0.2em;
  transform: rotate(0.8deg);
}

.intro .intro-double-fancy .greeting {
  text-transform: uppercase;
  font-size: 75%;
  letter-spacing: 0.2ch;
  font-weight: 600;
}

.intro .name.phantom {
  position: absolute;
  opacity: 0.2;
}

@container intro (min-inline-size: 20rem) {
  .intro-grid {
  }
}

@container intro (min-inline-size: 36rem) {
  .intro-grid {
    grid-template-columns: 25cqi 1fr;
    grid-auto-flow: row;
    row-gap: clamp(2rem, 5cqi, 3rem);
  }

  .intro-grid .intro-lede-graf {
    justify-self: start;
  }

  .intro-grid > * {
    grid-column: 2 / span 1;
  }

  .intro-grid .intro-hed {
    grid-column: 1 / span 1;
    align-self: start;
    justify-self: end;
    width: auto;
    margin-block: 0;
  }

  .intro-image {
    width: 100%;
    grid-column: 1 / span 1;
    margin: 0;
  }
}

</style>
