---
import '../styles/blog.css';

export interface Props {
	title: string;
	description: string;
	permalink?: string;
	socialTitle?: string;
	socialImages?: [string];
}
let { title, description, permalink, socialTitle, socialImages = [] } = Astro.props;

if(!socialTitle) socialTitle = title || "";

const socialImageUrl = `https://dd-social-images.vercel.app/api/image?title=${encodeURIComponent(socialTitle.replace(/ /g, "_").replace(/'/g, '%27'))}&t=${Date.now()}`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageUrl} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={permalink} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={socialImageUrl} />
<meta name="twitter:creator" content="@ddemaree" />
<meta name="twitter:site" content="@ddemaree" />

<!-- Fonts -->
<link rel="preconnect" href="https://cdn.demaree.net" />
<link rel="stylesheet" href="https://cdn.demaree.net/fonts/soehne/index.css" />
<link rel="stylesheet" href="https://cdn.demaree.net/fonts/soehne-mono/index.css" />
<link rel="stylesheet" href="https://cdn.demaree.net/fonts/tiempos/fonts.css">