---
import type { WordpressPost } from '@lib/wordpress';

import Date from './Date.astro';

export interface Props {
	post: WordpressPost;
}

const { post: { featuredImage, ...post} } = Astro.props;
const postUrl = `/p/${post.slug}`
---
<article class="post-preview @container/blog-card flex flex-col">
	<div class="flex flex-col gap-y-4 @md:flex-row">
		<div class="flex-1">
			<header>
				<a href={postUrl}><h1 class="title font-bold [font-size:clamp(22px,6cqi,34px)] [font-variation-settings:'wdth'_120] tracking-[-0.5px] leading-none">{post.title}</h1></a>
				<p class="description mt-1 text-lg">{post.excerpt}</p>
				<p class="publish-date"><Date date={post.date} /></p>
			</header>
		</div>

		{featuredImage && <figure class="w-full order-first @md:order-last @md/blog-card:w-[25cqi]">
			<img src={featuredImage.sourceUrl} class=" bg-gray-400 w-full aspect-video object-cover object-top rounded-lg" />
		</figure>}

	</div>
</article>