---
import type { WordpressPost } from '@lib/wordpress';

import Date from './Date.astro';

export interface Props {
	post: WordpressPost;
}

const { post: { featuredImage, ...post} } = Astro.props;
const postUrl = `/p/${post.slug}`
---
<article class="post-preview">
	<div class="post-preview-inner @md:flex-row @md:items-center">
		<div class="flex-1">
			<header>
				<a href={postUrl}><h1 class="title font-bold [font-size:min(1.875rem,_15cqi)] @lg:[font-size:2.25rem] [font-variation-settings:'wdth'_120] tracking-[-0.03ch] leading-[1.025]">{post.title}</h1></a>
				<p class="description mt-[0.375em] @lg:[font-size:1.125rem] leading-snug max-w-prose">{post.excerpt}</p>
				<p class="publish-date dateline mt-[0.75em]"><Date date={post.date} /></p>
			</header>
		</div>

		{featuredImage && <figure class="w-full order-first @md:order-last @md:w-[clamp(180px,25cqi,216px)]">
		<a href={postUrl} class="contents">
			<img src={featuredImage.sourceUrl} class=" bg-gray-400 w-full aspect-video @md:aspect-square @2xl:aspect-[5/4] object-cover object-top rounded-lg border border-gray-300 shadow" />
		</a>
		</figure>}

	</div>
</article>

<style>

.post-preview {
	@apply flex flex-col;
	container-name: blog-card;
	container-type: inline-size;
}

.post-preview-inner {
	@apply flex flex-col;
	column-gap: 1.5rem;
	column-gap: 6cqi;
	 /* gap-y-[7cqi] */
	row-gap: 1.5rem;
	row-gap: 7cqi;
}

</style>