---
import Date from './Date.astro';

import type { Post } from '@lib/posts';
import generateSlug from '@lib/generateSlug';

export interface Props {
	post: Post;
}

const { post } = Astro.props;
const postUrl = `/p/${generateSlug(post.file)}`
---

<article class="post-preview">
	<div>
		<header>
			<p class="publish-date"><Date date={post.frontmatter.date} /></p>
			<a href={postUrl}><h1 class="title">{post.frontmatter.title}</h1></a>
		</header>
		<p class="description">{post.frontmatter.description}</p>
	</div>
</article>

<style>

	.post-preview {
		font-size: 1.25rem;
	}

	header {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;

		h1 {
			/* font-weight: 600; */
		}
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.publish-date,
	.author {
		color: var(--theme-text-lighter);
		font-size: 1rem;
	}

	.title {
		/* font-size: 2.25rem; */
		font-weight: 600;
		color: var(--theme-text);
	}

	.description {
		@apply font-serif;
		font-size: 1.125rem;
	}

	.post-image {
		margin-bottom: 0.75rem;
	}

	.post-image img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
	}
</style>
