---
import type { WordpressPost } from '@lib/wordpress';

import Date from './Date.astro';

export interface Props {
	post: WordpressPost;
}

const { post: { featuredImage, ...post} } = Astro.props;
const postUrl = `/p/${post.slug}`
---
<article class="post-preview">
	<div class="post-preview-inner @md:flex-row @md:items-center">
		<div class="flex-1">
			<header>
				<a href={postUrl}>
					<h1 class="text-style-title text-style-title-sm animatedPostTitle">{post.title}</h1>
				</a>
				<p class="description mt-[0.375em] @lg:[font-size:1.25rem] leading-snug max-w-prose text-text-low-emphasis">{post.excerpt}</p>
				<p class="text-style-dateline mt-4"><Date date={post.date} /></p>
			</header>
		</div>

		{featuredImage && <figure class="w-full order-first @md:order-last @md:w-[clamp(180px,25cqi,216px)]">
		<a href={postUrl} class="contents">
			<img src={featuredImage.sourceUrl} class=" bg-gray-400 w-full aspect-video @md:aspect-square @2xl:aspect-[5/4] object-cover object-top rounded-lg border border-gray-300 shadow" />
		</a>
		</figure>}

	</div>
</article>

<style>

.post-preview {
	@apply flex flex-col;
	container-name: blog-card;
	container-type: inline-size;
}

.post-preview-inner {
	@apply flex flex-col;
	column-gap: 1.5rem;
	column-gap: 6cqi;
	row-gap: 1.5rem;
	row-gap: 7cqi;
}

</style>

<style lang="scss">
@use "sass:color";

@keyframes slideBackground {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 200%;
  }
}

.animatedPostTitle:hover {
	$color1: #6d28d9;
	$color2: color.adjust($color1, $lightness: 30%, $hue: 90deg);

  background-clip: text;
  background-color: pink;
  background-image: linear-gradient(
    90deg,
    $color2,
    $color1,
    $color2
  );
  background-size: 200% 100%;
  color: transparent;
  display: inline-block;
  animation-name: slideBackground;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0;
  animation-timing-function: linear;
}
</style>