---
import BaseHead from '@components/BaseHead.astro';
import SiteHeader from '@components/SiteHeader.astro';
import BlogPost from '@components/BlogPost.astro';
import Footer from '@components/Footer.astro';
import { getCloudinaryThumbnailUrl } from '@lib/cloudinary';

const { content } = Astro.props;
const { title, description, pubDate, author, heroImage, permalink, alt, image } = content;

let socialImages = [];
if(image && image.cloudinary) socialImages.push(getCloudinaryThumbnailUrl(image.cloudinary))
---

<html lang={content.lang || 'en'}>
	<head>
		<BaseHead {title} {description} {permalink} {socialImages} />
	</head>

	<body>
		<SiteHeader />
		<div class="wrapper">
			<BlogPost {title} {author} {heroImage} {pubDate} {alt}>
				<slot />
			</BlogPost>

			<Footer />
		</div>
	</body>
</html>
